<div class="card">
    <div class="header">
      <h1 class="title">SEARCH FOR A ROUTE</h1>
      <span class="info">Enter the Router Number you would like to track.</span>
    </div>
    <md-form-field>
        <input  type="text" mdInput
                placeholder="Pick a route"
                aria-label="Number"
                [formControl]="myControl"
                [mdAutocomplete]="auto"
                (input)="route = null"
                />
        <md-autocomplete (optionSelected)="route = $event" #auto="mdAutocomplete">
            <md-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </md-option>
        </md-autocomplete>
    </md-form-field>
    <button md-raised-button
            class="submit"
            color="primary"
            [disabled]="route === null"
            (click)="selectRoute(route)"
            >Find</button>
</div>
