.card {
  background: #F6F6F6;
  border: solid 1px #DADADA;
  margin: 0 0 20px;
  padding: 25px 30px;
}

.header {
  margin-bottom: 1em;
}

.title {
  color: #024861;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0;
}

.info {
  color: #666666;
  font-weight: 200;
}

.submit {
  margin-left: 2em;
}
