<svg:g  tesf-neighborhoods
        [attr.transform]="getTransform(transform)"
        [projection]="projection"
        ></svg:g>

<svg:g  tesf-roads fill="none"
        [roads]="streets"
        [attr.transform]="getTransform(transform)"
        [projection]="projection"
        ></svg:g>

<svg:g  tesf-roads fill="none"
        color="#E5C25C"
        [roads]="arteries"
        [attr.transform]="getTransform(transform)"
        [projection]="projection"
        ></svg:g>

<svg:g  tesf-roads fill="none"
        color="#FED89D"
        [roads]="freeways"
        [attr.transform]="getTransform(transform)"
        [projection]="projection"
        ></svg:g>

<svg:g  tesf-vehicle fill="none"
        [attr.transform]="getTransform(transform)"
        [projection]="projection"
        ></svg:g>
