<div class="header">
  <h1>Logo</h1>
  <div>Menu Menu Menu</div>
</div>

<div class="content">
    <tesf-route-picker></tesf-route-picker>

    <svg  width="500" height="500" class="map"
          [class.hidden]="(mapVisible$ | async) === false"
          >
        <svg:g tesf-map></svg:g>
    </svg>
</div>

<div class="footer">
  <h1>Logo</h1>
  <div>Menu Menu Menu</div>
</div>
