.header, .footer {
  align-items: center;
  background: #003a51;
  color: white;
  display: flex;
  justify-content: space-between;
}

.header {
  margin-bottom: 2em;
  padding: 20px;
}

.footer {
  bottom: 0;
  height: 5em;
  padding: 0 20px;
  position: fixed;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  padding-bottom: 5em;
  width: 100%;
}

.map {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}
